/*General */
body {
	margin: 0;
	padding: 0;
  background-color: #f5fb92;
  font-family:Arial, Helvetica, sans-serif;
}
h2 {text-align: center;}
/* Header*/
.header{
 margin: 0;
 padding: 20px 20px 0 0;
 text-align: center;
 background-image: url("pic/Header.png");
 background-position: left center;
 background-position-x: 150px;
 background-color: #f5fb92;
 background-repeat: no-repeat;
 background-size: 70%;
 height: 110px;
 font-size: 100%;
}
.header img{
  padding-top: 15px;
  float: right;
  position: relative;
  width: 50px;
  height:50px;
}
/*Navigation Bar*/
.navbar {
  margin: 0;
	padding: 0;
  position: sticky;
  overflow: auto;
  background-color: #310303;
  width: 100%; 
  top: 0;
}

.navbar #desktop{
  display:flex;
}
.navbar a.icon{
  display:none;
}
.navbar a{
  display:inline-block;
  text-align: left;
  text-decoration: none;
  transition: 0.2s;
}
.navbar ul{
  display: flex;
  margin:0;
  padding:0;
  justify-content: left;
  list-style-type: none;
  position: relative;
  
}
.navbar ul li a{
  padding: 18px 14px 18px 14px;
  color: #f2f2f2;
}
.navbar span#mobileNav{
  display:none;
}

.navbar span img{
  height: 50px;
  width:50px;
  overflow: auto;
}

.navbar a:visited{color: #fcae1e;}
.navbar ul li a:hover, .navbar ul span a:hover,.navbar button:hover{
  background-color: #CC5801;
  color: #FAE29C;
  transition: 0.1ms;
}
.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar  button {
  padding: 6px 10px;
  margin-top: 8px 0 0 0;
  background: #ddd;
  font-size: 17px;
  border: none;
}
/*flex layout*/
.wrapper{
  display:flex;
  flex-direction: row;
  background-color: #f5fb92;
}
/*Footer*/
footer{margin: 0;
	padding: 0;}
footer,footer div{
  font-size:100%;
  background-color: #f5fb92;
  color:brown;
}
.nobullet ul { list-style-type: none; }
footer a { text-decoration: none; }


footer div:nth-of-type(1){
  flex:3;
}
footer div:nth-of-type(2){
  flex:3;
}
footer div:nth-of-type(3){
  flex:3;
}
footer a:hover{color:brown;}
#mobile{
  display:none;
}
#desktop{
  display:block;
}
/*index.html*/
.main{
  color:#310303;
}
.recently{
  background-color: #F3EAAF;
  width: auto;
  overflow:auto;
  flex:5;
}
.categories{
  background-color: #FAE29C;
  border: white;
  width: auto;
  overflow:auto;
  flex:5;
}
.recently img, .categories img{
  display: inline-block;
  padding-left: 10px;
}
.recently label, .categories label{
  display:inline-block;
  padding-left: 5px;
}



/*product.html*/
#sorting{
  float: left;
  height: auto;
  width: auto;
  font-size:medium;
  background-color: palegoldenrod;
  flex:5;
  position: static;
}
.radio{
  color: black;
  display: inline-block;
  padding: 20px;
}
#sorting span input{
  background-color: honeydew;
  margin-bottom: 10px;
  color: white;
}
#product {
  display: inline-block;
  flex: 5;
  width: 60%;
  flex-wrap: wrap;
  padding-left: 0px;
}
#product img{
  width: 30%;
  height: 30%;
  padding: 10px;
  display:inline-block;
  flex:1;
}
#select{
  padding-left: 110px;
  display:block;
}

/*membership.html*/
#membership{
  background: #F9E076;
  margin: 0 250px;
}
#membership ol li{
  padding-bottom: 45px;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 1px 1px rgb(172, 19, 172);
}
#membership img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}

/*different screen size*/
@media screen and (max-width: 768px){
  .header{
    padding:0;
    background-position-x: 10px;
  }
  .navbar span#mobileNav{
    display:block;
    float:right;
  }

  .navbar a.icon {
    background: black;
    color:#fff;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .navbar a.icon:hover, .navbar span#mobileNav img:hover{
    background-color: #CC5801;
    color: #FAE29C;
    transition: 0.1ms;
  }
  .navbar ul{
    flex-direction: column;
    text-align: center;
  }
  .navbar ul li {
    border-bottom: 2px solid #80400B;
  }
  .navbar span{
    display:none;
  }

  .navbar {
    overflow: hidden;
    background-color: #310303;
    position: relative;
  }

  .recently img, .categories img{
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }
   .wrapper{
     flex-direction: column;
   }
  footer{font-size: 60%;}
  footer div:nth-of-type(1){
    flex:1;
    width:auto;
    padding-left: 30px;
    order:3;
  }
  footer div:nth-of-type(2){
    flex:1;
    width:auto;
    order:2;
  }
  footer div:nth-of-type(3){
    flex:1;
    width:auto;
    padding-left: 30px;
    order:1;
  }
  #mobile{
    display:block;
  }
  #desktop{
    display:none;
  }
  #product {
    display: inline-block;
    flex: 3;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  #product img{
    width: 30%;
    height: 30%;
    padding: 5px;
  }
  #sorting{
    font-size:small;
  }
  .radio{
    padding: 10px;
  }
}
