/*General */
body {
	margin: 0;
	padding: 0;
  background-color: #f5fb92;
  font-family:Arial, Helvetica, sans-serif;
}
h2 {text-align: center;}
/* Header*/
.header{
 margin: 0;
 padding: 20px 20px 0 0;
 text-align: center;
 background-image: url("pic/Header.png");
 background-position: left center;
 background-position-x: 150px;
 background-color: #f5fb92;
 background-repeat: no-repeat;
 background-size: 70%;
 height: 110px;
 color:transparent;
 font-size: 100%;
}
.header img{
  padding-top: 15px;
  float: right;
  position: relative;
  width: 50px;
  height:50px;
}
/*Navigation Bar*/
.navbar {
  margin: 0;
	padding: 0;
  position: sticky;
  overflow: auto;
  background-color: #310303;
  width: 100%; 
  top: 0;
}


.navbar a{
  display:inline-block;
  text-align: left;
  text-decoration: none;
}
.navbar ul{
  display: flex;
  margin:0;
  padding:0;
  justify-content: left;
  list-style-type: none;
  position: relative;
  
}
.navbar ul li a{
  padding: 18px 14px 18px 14px;
  color: #f2f2f2;
}
.navbar span{
  display:flex;
  margin-left: 20px;
}

.navbar span img{
  height: 50px;
  width:50px;
  overflow: auto;
}

.navbar a:visited{color: #fcae1e;}
.navbar ul li a:hover, .navbar ul span a:hover,.navbar button:hover{
  background-color: #CC5801;
  color: #FAE29C;
  transition: 0.1ms;
}
.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar  button {
  padding: 6px 10px;
  margin-top: 8px 0 0 0;
  background: #ddd;
  font-size: 17px;
  border: none;
}
/*flex layout*/
.wrapper{
  display:flex;
  flex-direction: row;
  background-color: #f5fb92;
}
/*Footer*/
footer{margin: 0;
	padding: 0;}
footer,footer div{
  font-size:100%;
  background-color: #f5fb92;
  color:brown;
}
.nobullet ul { list-style-type: none; }
footer a { text-decoration: none; }


footer div:nth-of-type(1){
  flex:3;
}
footer div:nth-of-type(2){
  flex:3;
}
footer div:nth-of-type(3){
  flex:3;
}
footer a:hover{color:brown;}
#mobile{
  display:none;
}
#desktop{
  display:block;
}
/*index.html*/
.main{
  color:#310303;
}
.recently{
  background-color: #F3EAAF;
  width: auto;
  overflow:auto;
  flex:5;
}
.categories{
  background-color: #FAE29C;
  border: white;
  width: auto;
  overflow:auto;
  flex:5;
}
.recently img, .categories img{
  display: inline-block;
  padding-left: 10px;
}
.recently label, .categories label{
  display:inline-block;
  padding-left: 5px;
}

/*news.html*/
.new{
  background-color: #DAC17C;
  flex:5;
}
.news{
  background-color:#EEDC9A;
  flex:5;
}

.new img, .news img{
  float:left;
  display:block;
  padding-right: 10px;
  width:200px;
  height: 200px;
  overflow: auto;
}
.new li, .news li{
 display:inline-block;
 overflow: auto;
 text-align: left;
}
.clear{
  clear: both;
}
.shopPic{
  flex:5;
  margin-left:30px;
}

/*aboutUs.html*/
.aboutUs{
  font-size: 100%;
  flex:5;
}
.box{
  width:40%;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 8px;
  background-color: #EEDC9A;
  padding:5px 10px 10px 10px;
  height:fit-content;
}
.box p{
  font-size:100%;
  line-height:28px;
}
#readmorebtn{
  display:inline-block;
  color:#fff;
  background-color: #2196f3;
  text-decoration: none;
  padding:10px 15px;
  border-radius:8px;
  margin-top: 15px;
  font-size: 100%;
}

#readmorebtn:hover{
  box-shadow: 0 1px 1px 1px #00325a;
}

#more{
  display:inline;
}
#moretext{
  display:none;
}
#show{
  display:inline;
}

/*outlets.html*/
.outlets{flex:3;}
.outlets img{
  float:left;
  display:block;
  padding: 0px 5px 5px 5px;
  width:200px;
  height: 200px;
  overflow: auto;
}
.outlets label a{
  display:inline-block;
  font-size: 80%;
}

/*product.html*/
#sorting{
  height: auto;
  width: auto;
  font-size:medium;
  background-color: palegoldenrod;
  flex:5;
  position: static;
}
.radio{
  color: black;
  display: inline-block;
  padding: 20px;
}
#sorting span input{
  background-color: honeydew;
  float:left;
  margin-bottom: 10px;
  color: white;
}
#product {
  display: inline-block;
  flex: 5;
  width: 60%;
  flex-wrap: wrap;
  padding-left: 0px;
}
#product img{
  width: 300px;
  height: 250px;
  padding: 10px;
  display:inline-block;
  flex:1;
}
#select{
  padding-left: 110px;
  display:block;
}

/*membership.html*/
#membership{
  background: #F9E076;
  margin: 0 250px;
}
#membership ol li{
  padding-bottom: 45px;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 1px 1px rgb(172, 19, 172);
}
#membership img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}

/*different screen size*/
@media screen and (max-width: 768px){
  .header{
    padding:0;
    background-position-x: 10px;
  }
  .navbar ul{
    flex-direction: column;
    text-align: center;
  }
  .navbar ul li {
    border-bottom: 2px solid #80400B;
  }
  .navbar span{
    display:flex;
    padding-left:70%;
  }
  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }

  .recently img, .categories img{
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }
   .wrapper{
     flex-direction: column;
   }
  footer{font-size: 60%;}
  footer div:nth-of-type(1){
    flex:1;
    width:auto;
    padding-left: 30px;
    order:3;
  }
  footer div:nth-of-type(2){
    flex:1;
    width:auto;
    order:2;
  }
  footer div:nth-of-type(3){
    flex:1;
    width:auto;
    padding-left: 30px;
    order:1;
  }
  #mobile{
    display:block;
  }
  #desktop{
    display:none;
  }
}
