body{
  background-color: #F3EAAF;
}
.aboutUs{
    font-size: 100%;
    flex:5;
  }
.wrapper{
  display:flex;
  flex-direction: row;
}
.shopPic{
  flex:5;
  margin-left:30px;
  margin-right: auto;
  padding: 0 20px 10px 10px;
}
.shopPic img{
  width:100%; 
  height:auto;
}

.box{
  width:40%;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 8px;
  background-color: #C7C090;
  padding:5px 10px 10px 10px;
  height:fit-content;
}
.box p{
  font-size:100%;
  line-height:28px;
  text-align: justify;
}
#readmorebtn{
  display:inline-block;
  color:#fff;
  background-color: #2196f3;
  text-decoration: none;
  padding:10px 15px;
  border-radius:8px;
  margin-top: 15px;
  font-size: 100%;
}

#readmorebtn:hover{
  box-shadow: 0 1px 1px 1px #00325a;
}

#more{
  display:inline;
}
#moretext{
  display:none;
}
.fadeIn{
  animation: fadeIn 2s;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}


#show{
  display:inline;
}

main h2{
  text-align: center;
}

@media screen and (max-width: 768px){
  .wrapper{
    flex-direction: column;
  }
  .shopPic img{
    width:fit-content; 
    height:200px;
  }
  .box{
    width:fit-content;
    height:fit-content;
  }
  }