
.aboutUs{
    font-size: 100%;
    flex:5;
  }
.wrapper{
  display:flex;
  flex-direction: row;
  background-color: #f5fb92;
}
.shopPic{
  flex:5;
  margin-left:30px;
  margin-right: auto;
  padding: 0 20px 10px 10px;
}
.shopPic img{
  width:100%; 
  height:400px;
}

.box{
  width:40%;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 8px;
  background-color: #EEDC9A;
  padding:5px 10px 10px 10px;
  height:fit-content;
}
.box p{
  font-size:100%;
  line-height:28px;
}
#readmorebtn{
  display:inline-block;
  color:#fff;
  background-color: #2196f3;
  text-decoration: none;
  padding:10px 15px;
  border-radius:8px;
  margin-top: 15px;
  font-size: 100%;
}

#readmorebtn:hover{
  box-shadow: 0 1px 1px 1px #00325a;
}

#more{
  display:inline;
}
#moretext{
  display:none;
}
#show{
  display:inline;
}

h2{
  text-align: center;
}

@media screen and (max-width: 768px){
  .wrapper{
    flex-direction: column;
  }
  .shopPic img{
    width:fit-content; 
    height:200px;
  }
  .box{
    width:fit-content;
    height:fit-content;
  }
<<<<<<< HEAD
  .box p{
    font-size:100%;
    line-height:28px;
  }
  #readmorebtn{
    display:inline-block;
    color:#fff;
    background-color: #2196f3;
    text-decoration: none;
    padding:10px 15px;
    border-radius:8px;
    margin-top: 15px;
    font-size: 100%;
  }
  
  #readmorebtn:hover{
    box-shadow: 0 1px 1px 1px #00325a;
  }

  #more{
    display:inline;
  }
  #moretext{
    display:none;
  }
  #show{
    display:inline;
  }
  
  /*outlets.html*/
  .outlets{flex:3;}
  .outlets img{
    float:left;
    display:block;
    padding: 0px 5px 5px 5px;
    width:200px;
    height: 200px;
    overflow: auto;
  }
  .outlets label a{
    display:inline-block;
    font-size: 80%;
=======
>>>>>>> 08556cbd898b1cb57c3a90f9911203b3dcf284ff
  }