* {
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: #F3EAAF;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    padding-top: 10px;
}

/* Overall Webpage Container */
.pageLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F3EAAF;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 1200px;
    padding-top: 45px;
}

/* Left Column Your Cart */
.cart {
    background-color: #C7C090;
    flex: 65%;
    margin: 0px 0px 0px 25px;
    padding: 0px 20px 10px 10px;
}

.cart>p {
    font-size: 24px;
    margin: 20px 0px 15px 0px;
}

.cart-info {
    display: flex;
    flex-wrap: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #C77536;
    font-weight: Normal;
}

th {
    font-size: 16px;
}

th:last-child,
td:last-child {
    text-align: right;
}

th:nth-of-type(2),
td:nth-of-type(2) {
    text-align: center;
}

tfoot {
    border-top: 3px solid #C77536;
    width: 50%;
}

tfoot th {
    text-align: left;
    padding-left: 40%;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: red;
    font-size: 12px;
}

td img {
    margin-right: 10px;
    height: auto;
    width: 300px;
    align-self: flex-start;
}

/* Right Column Your Information */
.information {
    flex: 30%;
    padding: 0px 25px 10px 25px;
}


.information>p {
    font-size: 24px;
    margin: 25px 0px 15px 0px;
}

input {
    width: 100%;
    height: 35px;
}

select {
    width: 100%;
    height: 35px;
    font-size: 1rem;
}

div.cart-info div {
    width: 100%;
}

.cancel-checkout button,
.cancel-checkout input {
    background-color: #C77536;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0s;
    cursor: pointer;
    flex: 5;
    height: 50px;
}

.cancel-checkout button:hover,
.cancel-checkout input:hover {
    background-color: white;
    color: #C77536;
}

.cancel-checkout {
    display: flex;
    justify-content: space-between;
}

/* form validation */
.form-area i {
    visibility: hidden;
    transition: color 0.2s;
    position: relative;
    right: 15px;
}

.form-area small {
    visibility: hidden;
    transition: color 0.2s;
    position: relative;
    right: 15px;
}

/* Input styling when filling up */
.form-area div.success input,
.form-area div.success textarea {
    border-color: #2ecc71;
    transition: border 0.2s;
}

.form-area div.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
    transition: color 0.2s;
}

.form-area div.error input,
.form-area div.error textarea {
    border-color: #e74c4c;
    transition: border 0.2s;
}

.form-area div.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c4c;
    transition: color 0.2s;
}

.form-area div.error small {
    visibility: visible;
    color: #e74c4c;
    transition: color 0.2s;
}


/* Responsive layout - makes layout follow page size */
@media (max-width: 1250px) {
    .pageLayout {
        width: 100%;
    }
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1024px) {

    .information,
    .cart {
        flex: 100%;
    }

    .cart {
        margin: 0px 25px 0px 25px;
    }


    td img {
        width: 44%;
        height: auto;
    }

    tfoot th {
        text-align: left;
        padding-left: 1%;
    }
}

@media (max-width: 450px) {
    .cart-info {
        display: block;
    }

    td img {
        margin-right: 10px;
        height: auto;
        width: 100%;
        min-width: none;
    }
}