.wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.new{
    background-color: #F3EAAF;
    flex:5;
  }
  .news{
    background-color:#C7C090;
    flex:5;

  }
  
  .new img, .news img{
    float:left;
    display:block;
    padding-right: 10px;
    width:200px;
    height: 200px;
    overflow: auto;
  }
  .new li, .news li{
   display:block;
   overflow: auto;
   text-align: left;
   position: relative;
   right: 0px;
   margin-bottom: 20px;
  }
  .clear{
    clear: both;
  }

  
main h2{
  text-align: center;
}

 @media screen and (max-width: 768px){
  .wrapper{
    flex-direction: column;
  }
  }
  