/*flex layout*/
.wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f5fb92;
  }
.outlets{
    flex:3;
}
.outlets label, .outlets a{
    display:block;
    padding-left: 10px;
}
.outlets a{
  text-decoration: none;
  color: #000;
}
.outlets a:link{
  color: brown;
}
.outlets span{
    display:inline;
    padding-left: 10px;
}
.outlets img{
    height:200px;
    width:300px;
    display:flex;
    padding: 5px 5px;
}

#mobile{
  display:none;
}
#desktop{
  display:block;
}

@media screen and (max-width: 768px){
    .wrapper{
        flex-direction: column;
        width:fit-content;
        
      }
    #mobile{
      display:block;
    }
    #desktop{
      display:none;
    }
  }