/*flex layout*/
.wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f5fb92;
  }
.outlets{
    flex:3;
    border: 1px solid rgb(99, 0, 0);
    margin: 20px 20px 20px 20px;
}
.outlets label, .outlets a{
    display:block;
    padding-left: 10px;
}
.outlets a{
  text-decoration: none;
  color: #000;
}
.outlets a:link{
  color: brown;
}
.outlets span{
    display:inline;
    padding-left: 10px;
}
.outlets img{
    height:200px;
    width:300px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.outlets label, .outlets a{
  text-align: center;
}
main h2{
  text-align: center;
  margin-bottom: 0%;
}

@media screen and (max-width: 768px){
    .wrapper{
        flex-direction: column;
        width:fit-content;
        
      }
    .outlets img{
      padding-left: auto;
      padding-right: auto;
      width:auto;
    }
    

  }