#sorting{
    float: left;
    height: auto;
    width: auto;
    font-size:medium;
    background-color: #C7C090;
    flex:5;
    position: static;
  }
  .radio{
    color: black;
    display: inline-block;
    padding: 20px;
  }
  body{
    background-color:#F3EAAF;
  }
  #sorting span input{
    background-color: honeydew;
    margin-bottom: 10px;
    color: white;
  }
  #product {
    display: inline-block;
    flex: 5;
    width: 60%;
    min-height: 250px;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  #product img{
    width: 30%;
    height: 30%;
    padding: 10px;
    display:inline-block;
    flex:1;
  }
  #select{
    padding-left: 110px;
    display:block;
  }
  .fadeIn{
    animation: fadeIn 5s;
  }
  @keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  
  @media screen and (max-width: 768px){
    .wrapper{
      flex-direction: column;
    }
    #product{
      width:fit-content;
    }
    #sorting{
      width:fit-content;
    }
  
  #mobile{
    display:block;
  }
  #desktop{
    display:none;
  }
  #product {
    display: inline-block;
    flex: 3;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  #product img{
    width: 30%;
    height: 30%;
    padding: 5px;
  }
  #sorting{
    font-size:small;
  }
  .radio{
    padding: 10px;
  }

  }