main{
    display: flex;
}


main a{
    text-decoration: none;
    color: #555;
}
main p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 5vw;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

.small-container{
    flex: 80%;
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid black 2px;
}


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 40px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

.row-2{
    justify-content: space-between;
    margin: 30px auto 20px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}

/*---------- 600 media query -------*/
@media only screen and (max-width: 600px){
    
    .row{
      text-align: center;
    }
    
    .col-4{
        
        flex-basis: 100%;
    }
}


#sorting{
    background-color: #C7C090;
    flex: 20%;
    min-width: 150px;
  }

  #sorting h2{
    text-align: center;
    padding-left: 20px;
  }
  .radio{
    color: black;
    padding-left: 20px;
  }


  
  @media screen and (max-width: 768px){
    #sorting{
      width:fit-content;
    }

  #sorting{
    font-size:small;
  }
  .radio{
    padding: 10px;
  }

  }



























